* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.cv {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.education{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.education .right
.education .left{
    width: 28%;
}

.iletisim ul{
    list-style:none;
}


section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #005f73;
    padding-bottom: 5px;
    border-bottom: 2px solid #e0e0e0;
}

h3 {
    font-size: 1.2rem;
    color: #0a9396;
}

span {
    font-size: 0.9rem;
    color: #555;
}

ul.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

ul.skills-list li {
    background-color: #94d2bd;
    color: #fff;
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 5px 15px;
}


.navbar {
    width: 100%;
    height: 80px;
    background: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    gap: 16px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    font-family: sans-serif;
    transition: background 0.3s ease;
}

.navbar ul li a:hover {
    background: #ff6e00;
    border-radius: 4px;
}
